//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap";
@import "font-awesome";

.body-container {
    top: 65px;
    position: relative;
}

.fa-btn {
    margin-right: 5px;
}

.table-tools-column {
    width: 30px;
    text-align: center;
}

.table-delete-button {
    border: none;
    background-color: transparent;
}

.img-thumbnail {
    width: 130px;
    height: 130px;
}

.show-edit-link {
    margin-right: 15px;
}

.item-photo-container {

}

.item-photo-ticket-no {
    border: 1px solid;
    clear: both;
    padding: 3px
}

.item-photo-image {
    border: 1px solid #ddd;
    padding: 3px;
    border-bottom-color: transparent;
}

.item-photos-thumbnail {
    width: 170px;
    height: 130px;
    margin-right: 5px;
}
